<form method="post">
    <label for="editor">Donner un nom:</label>
    <input type="text" id="editor" name="editor" required/>
     <button type="submit">Ajouter un editeur</button>
</form>
<h1>Liste des éditeurs</h1>

<ul>
    {{#each editor}}
        <li>
            <a href="/editor?id={{id}}">{{name}}</a>
            
            <form method="post" action="/editor/update" style="display: inline;">
                <input type="hidden" name="id" value="{{id}}" />
                <input type="text" name="name" value="{{name}}" required />
                <button type="submit">Modifier</button>
            </form>

            <form method="post" action="/editor/delete">
                <input type="hidden" name="id" value="{{id}}" />
                <button type="submit">Supprimer</button>
            </form>
        </li>
    {{/each}}
</ul>
{{#if gamesFromEditor.length}}
<table>
  <caption>
    Tous les jeux de
  </caption>
  <thead>
    <tr>
      <th scope="col">Nom du jeu</th>
      <th scope="col">Description</th>
      <th scope="col">Editor</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    
    {{#each gamesFromEditor}}
    <tr>
      <th scope="row">{{title}}</th>
      <td>{{description}}</td>
      <td>{{releaseDate}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}