<div id="game">
<h1>{{game.title}}</h1>

<p>Date de sortie : {{game.releaseDate}}</p><br>
<div id="editor">
<p>Editeur:</p>
<a href="/editor?id={{game.editor.id}}">{{game.editor.name}}</a>
</div>
<div id="genre">
<p>Genre:</p>
<a href="/genres?id={{game.genre.id}}">{{game.genre.name}}</a>
</div>
<p>Description:</p>
<p>{{game.description}}</p>
</div>



<form method="post" action="/games/update">
    <div id="tiltedesc">
    <input type="hidden" name = "id" value="{{game.id}}">
    <label for="jeux">Modifier nom du jeux:</label>
    <input type="text" id="jeux" name="jeux" value="{{game.title}}" required/><br>
    <label for="game">Modifier la description:</label>
    <input type="text" id="description" name="description" value = "{{game.description}}" required/><br>
    <label for="date">Modifier la date:</label>
    <input type="date" id="date" name="date"  value="{{game.releaseDate}}" required/><br>
    </div>
    <div id="editorgenre">
    <select name="editor" id="editor">
    <option value="{{game.editor.id}}">{{game.editor.name}}</option>
    {{#each editor}}
    {{#ifEqual id ../game.editor.id}}
    {{else}}
    <option value="{{id}}">{{name}}</option>
    {{/ifEqual}}
    {{/each}}
    </select>
    <select name="genre" id="genre">
    <option value="{{game.genre.id}}">{{game.genre.name}}</option>
    {{#each genre}}
    {{#ifEqual id ../game.genre.id}}
    {{else}}
    <option value="{{id}}">{{name}}</option>
    {{/ifEqual}}
    {{/each}}
    </select>
    <button type="submit">Modifier le jeux</button>
    </div>
</form>


